.complect-choise {
  padding-bottom: 40px;
  margin-top: 50px;
  @include breakpoint(lg) {
    display: flex;
    align-items: flex-start;
  }
  &__scheme {
    margin: 0 auto 50px;
    display: block;
    @include breakpoint(lg) {
      margin-right: 40px;
      max-width: 265px;
    }
  }
  &__form {
    width: 100%;
  }
  &__wrap {
    margin-bottom: 35px;
    @include breakpoint(lg) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    > .complect-choise__title {
      @include breakpoint(lg) {
        margin-right: 20px;
        min-width: 185px;
      }
    }
    &.border {
      border-bottom: 1px solid $silver;
      border-top: 1px solid $silver;
      padding-bottom: 30px;
      padding-top: 30px;
    }
    &_material {
      @include breakpoint(lg) {
        flex-wrap: nowrap;
        align-items: center;
      }
      .complect-choise__title {
        @include breakpoint(lg) {
          width: auto;
          flex: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  &__input {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    &_column {
      flex-direction: column;
      @include breakpoint(lg) {
        margin-right: 40px;
        flex: 1 1 50%;
      }
    }
    &_full {
      flex-basis: 100%;
    }
  }
  &__total {
    text-align: center;
    margin-top: 25px;
    @include breakpoint(lg) {
      flex: 0 1 50%;
      text-align: left;
      font-size: 24px;
    }
    span {
      font-weight: 700;
      margin-left: 10px;
    }
  }
  &__button {
    margin: 25px auto 0;
    
    @include breakpoint(lg) {
      flex: 0 1 50%;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 30px;
    flex: 1 1 100%;
    width: 100%;

  }
  &__image {
    @include breakpoint(lg) {
      order: 5;
    }
  }
}