ul.pagination
  li.pagination__prev 
    a(href="#") Назад
  li 
    a._active(href="#") 1
  li 
    a(href="#") 2
  li 
    a(href="#") ...
  li 
    a(href="#") 9
  li 
    a(href="#") 10
  li.pagination__next 
    a(href="#") Вперед
