.modal
  .overlay
  .modal__container#city
    .modal__title
      |Выберите 
      span город
    ul.cities
      li 
        a(href="#") Москва	
      li 
        a(href="#") Санкт-Петербург
      li 
        a(href="#") Новосибирск	
      li 
        a(href="#") Екатеринбург	
      li 
        a(href="#") Нижний Новгород	
      li 
        a(href="#") Казань	
      li 
        a(href="#") Челябинск
      li 
        a(href="#") Омск	
      li 
        a(href="#") Самара
      li 
        a(href="#") Ростов-на-Дону	
      li 
        a(href="#") Уфа	
      li 
        a(href="#") Красноярск	
      li 
        a(href="#") Пермь
      li 
        a(href="#") Воронеж
      li 
        a(href="#") Волгоград
      li 
        a(href="#") Москва	
      li 
        a(href="#") Санкт-Петербург
      li 
        a(href="#") Новосибирск	
      li 
        a(href="#") Екатеринбург	
      li 
        a(href="#") Нижний Новгород	
      li 
        a(href="#") Казань	
      li 
        a(href="#") Челябинск
      li 
        a(href="#") Омск	
      li 
        a(href="#") Самара
      li 
        a(href="#") Ростов-на-Дону	
      li 
        a(href="#") Уфа	
      li 
        a(href="#") Красноярск	
      li 
        a(href="#") Пермь
      li 
        a(href="#") Воронеж
      li 
        a(href="#") Волгоград

  
    
  

    
      