.container.advantages
  .row
    +title({
      tag: 'h2',
      text: 'Почему вам следует выбрать именно коврики EVA',
      mods: ['h2']
    })
    .advantages__box
      .advantages__img(style="background-image:url(./img/advantages.png)")

      .advantages__list
        .advantages__item 
          .advantages__icon
          | Ячейки коврика собирают до литра воды, грязи и пыли (Система сот)
        .advantages__item 
          .advantages__icon
          | Материал экологичен и безвреден. Не имеет запаха, гипоаллергенен.
        .advantages__item 
          .advantages__icon
          | Всесезонное использование. Сохраняют эластичность при температуре -50 / +50
        .advantages__item 
          .advantages__icon
          | Возможность выбора цвета коврика и окантовочной ленты


    .advantages__box.advantages__box_reverse

      .advantages__list.advantages__list
        .advantages__item 
          .advantages__icon
          | Ячейки коврика собирают до литра воды, грязи и пыли (Система сот)
        .advantages__item 
          .advantages__icon
          | Материал экологичен и безвреден. Не имеет запаха, гипоаллергенен.
        .advantages__item 
          .advantages__icon
          | Всесезонное использование. Сохраняют эластичность при температуре -50 / +50
        .advantages__item 
          .advantages__icon
          | Возможность выбора цвета коврика и окантовочной ленты
        
      .advantages__img(style="background-image:url(./img/advantages.png)")
