.tag {
  .tag {
    &_border {
      @include breakpoint(lg) {
        padding-top: 70px;
        margin-top: 60px;
        border-top: 1px solid $silver;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      box-sizing: border-box;

    }
    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 25px;
      @include breakpoint(md) {
        font-size: 24px;
      }
      &_big {
        @include breakpoint(md) {
          font-size: 40px;
        }
      }
    }
    &__name {
      font-size: 16px;
      color: $main;
      text-decoration: none;
      width: fit-content;
      @include breakpoint(md) {
        font-size: 20px;
      }
      &:hover {
        color: $red;
        text-decoration: underline;
      }
      &:not(:last-child) {
        margin-bottom: 18px;
        @include breakpoint(lg) {
          margin-bottom: 12px;
        }
      }
    }
  }
}