mixin title(data)
  #{data.tag}.title(class=addClass('title', data.mods, data.addClass) id=data.id)
    if data.link
      a.title__link(href=data.link, class= data.link_mods ? 'title__link_' + data.link_mods : '')= data.text
    else 
      != data.text