.post-header {
  padding-bottom: 0;
  @include breakpoint(md) {
    background-image: url('../img/post-header.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 30px;
    color: $white;
  }
  .title {
    font-size: 24px;
    @include breakpoint(md) {
      font-size: 55px;
      margin-bottom: 0;
      max-width: 870px;
    }
  }
  .breadcrumbs {
    li {
      &._active a{
        color: $white;
      }
      &:not(:last-child):before{ 
        border-color: $white;
      }
    }
  }
}