.constructor {
  background-color: #f5f5f5;
  &__wrap {
    @include breakpoint(md) {  
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  &__input {
    margin-top: 30px;
    max-width: 160px;
  }
  &__preview {
    position: relative;
    @include breakpoint(md) {
      flex: 1 1 20%;
      margin: 0 20px 30px 0;
    }
    img {
      display: block;
      width: 100%;
      margin: 0 auto 30px;
    }
    &-border {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__form {
    counter-reset: number;
    @include breakpoint(md) {
      flex: 1 1 70%;
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__box {
    background: #FFFFFF;
    border-radius: 7.01205px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    @include breakpoint(md) {
      flex: 1 1 40%;
      margin: 15px;
    }
    p {
      font-size: 12px;
      margin-top: 20px;
      @include breakpoint(lg) {
        margin-top: 40px;
        margin-bottom: 0;
        width: 130%;
      }
    }
    &_flex {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(lg) {
        display: flex;
      }
      fieldset {
        &:first-of-type {
          @include breakpoint(lg) {
            max-width: 330px;
            padding-right: 50px;
          }
        }  
        &:last-of-type {
          @include breakpoint(lg) {
            flex: 1 1;
          }
        }  
      }
      .input {
        flex: 1 1 47%;
      }
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px;
    @include breakpoint(lg) {
      font-size: 22px;
    }
    &_mini {
      font-size: 14px;
      margin-bottom: 15px;
      margin-top: 20px;
      @include breakpoint(lg) {
        display: none;
      }
    }
    &:before {
      counter-increment: number;
      content: counter(number) ".  ";
      font-weight: 700;
      margin-right: 20px;
      @include breakpoint(lg) {
        margin-right: 30px;
      }
    }
    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }
  &__gutter {
    padding-left: 35px;
    margin-bottom: 30px;
    @include breakpoint(lg) {
      margin-bottom: 0;
    }
  }
  &__button {
    margin-top: 30px;
    @include breakpoint(lg) {
      margin-left: auto;
      margin-top: 25px;
      margin-right: 0;
    }
  }
  textarea {
    @include breakpoint(lg) {
      min-height: 110px;
    }
  }
}

.mobile-compensate {
  margin-top: -50px;
  @include breakpoint(lg) {
    margin-top: 0;
  }
}