.container.constructor
  .row.constructor__wrap
    +title({
      text: constructorTitle,
      tag: 'h2',
      mods: ['h2']
    })
    .constructor__preview
      img(src="img/preview-constructor.png", alt="")

    form.constructor__form
      .constructor__box
        .constructor__title Выберите тип материала
        fieldset
          +input({
            id: '1',
            type: 'radio',
            name: 'material',
            text: 'Сота',
            img: 'img/rhombus.png',
            mods: ['circle']
          })

          +input({
            id: '2',
            type: 'radio',
            name: 'material',
            text: 'Ромб',
            img: 'img/sota.png',
            mods: ['circle']
          })
        
        .constructor__title Выберите цвет коврика
        fieldset.color-default
          +input({
            id: '4',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '5',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '6',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '7',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '8',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '9',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '10',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '11',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '12',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '13',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '14',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '15',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '16',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })
          +input({
            id: '17',
            type: 'radio',
            name: 'color',
            img: 'img/red_mat.png',
            mods: ['rectangle']
          })

      .constructor__box
        .constructor__title Выберите цвет окантовки
        fieldset.color-border
          +input({
            id: '18',
            type: 'radio',
            name: 'color_edging',
            color: '#000000',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '19',
            type: 'radio',
            name: 'color_edging',
            color: '#B09A8F',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '20',
            type: 'radio',
            name: 'color_edging',
            color: '#FCD309',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '21',
            type: 'radio',
            name: 'color_edging',
            color: '#D71211',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '22',
            type: 'radio',
            name: 'color_edging',
            color: '#FC6F1F',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '23',
            type: 'radio',
            name: 'color_edging',
            color: '#325831',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '24',
            type: 'radio',
            name: 'color_edging',
            color: '#F84FB2',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '25',
            type: 'radio',
            name: 'color_edging',
            color: '#7FE529',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '26',
            type: 'radio',
            name: 'color_edging',
            color: '#771BBA',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '27',
            type: 'radio',
            name: 'color_edging',
            color: '#7FE529',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '28',
            type: 'radio',
            name: 'color_edging',
            color: '#771BBA',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '29',
            type: 'radio',
            name: 'color_edging',
            color: '#7FE529',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '30',
            type: 'radio',
            name: 'color_edging',
            color: '#771BBA',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '31',
            type: 'radio',
            name: 'color_edging',
            color: '#7FE529',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '32',
            type: 'radio',
            name: 'color_edging',
            color: '#771BBA',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '33',
            type: 'radio',
            name: 'color_edging',
            color: '#7FE529',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '34',
            type: 'radio',
            name: 'color_edging',
            color: '#771BBA',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '35',
            type: 'radio',
            name: 'color_edging',
            color: '#7FE529',
            mods: ['circle', 'circle_mini']
          })
          +input({
            id: '36',
            type: 'radio',
            name: 'color_edging',
            color: '#771BBA',
            mods: ['circle', 'circle_mini']
          })

      .constructor__box.constructor__box_flex
        .constructor__title
        fieldset
          .constructor__gutter
            input(type="text", placeholder="Ваше имя", required)
            input(type="tel", placeholder="Телефон", required)
            input(type="email", placeholder="E-mail", required)
            p Нажимая на кнопку “Отправить” вы подтверждаете свое согласие на обработку пользовательских данных.
          

        fieldset
          textarea(placeholder="Марка и модель машины")
          .constructor__title_mini Как с вами лучше связаться?
          .constructor__box_flex
            +input({
              addClass: 'constructor__input',
              id: '654',
              type: 'radio',
              name: 'risess',
              img: 'input__visual',
              mods: ['text', 'full'],
              checked: true,
              text: 'Телефон'
            })
            +input({
              addClass: 'constructor__input',
              id: '77',
              type: 'radio',
              name: 'risess',
              img: 'input__visual',
              mods: ['text', 'full'],
              checked: true,
              text: 'E-mail'
            })

          

          +button({type: 'submit', text: 'Отправить', addClass: 'constructor__button'})
      
    