.button {
  display: block;
  border-radius: 60px;
  background-color: $red;
  font-size: 16px;
  color: $white;
  text-decoration: none;
  // min-width: 220px;
  max-width: 220px;
  margin: 0 auto;
  width: 100%;
  padding: 13px 10px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  position: relative;
  &.button {
    &_black {
      max-width: 100%;
      background-color: $main;
      color: $white;
      border-radius: 10px;
      padding: 17px 45px 17px 30px;
      text-align: left;
      transition: .1s;
      margin-bottom: 5px;
      &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-top: 1.5px solid $white;
        border-right: 1.5px solid $white;
        transform: translateY(-50%) rotate(45deg);
        right: 30px;
        top: 50%;

      }
      &:hover {
        background-color: $black;
        text-decoration: underline;
      }
    }
    &_gray {
      max-width: none;
      min-width: auto;
      background-color: $gray;
      color: $main;
      border: 1px solid $silver;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 5px;
      transition: .1s;
      &:hover:not(._active) {
        background-color: $main;
        color: $gray;
        border-color: $main;
      }
      &._active {
        background-color: $gray;
        border: none;
      }
    }
  }
}