.header-top {
  background-color: $main;
  color: $white;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 21px;
    @include breakpoint(md) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &__cart {
    background-color: $white;
    border-radius: 60px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(md) {
      display: none;
    }
  }
  &__lk {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
    .icon {
      margin-right: 15px;
    }
  }
  &__burger {
    width: 46px;
    height: 46px;
    background-color: $red;
    border-radius: 60px;
    @include breakpoint(md) {
      display: none;
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: relative;
      &:before,
      &:after,
      i {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $white;
        transition: .3s;
        will-change: transform;
        border-radius: 10px;
      }
      &:before {
        top: 14px;
      }
      &:after {
        bottom: 14px;
      }
      i {
        top: 22px;
      }
    }
    #burger {
      display: none;
      &:checked {
        + label {
          &:before {
            transform: translateY(8px) rotate(-225deg);
          }
          &:after {
            transform: translateY(-8px) rotate(225deg);
          }
          i {
            transform: scale(0, 1);
          }
        }
      }
    }
  }
}