mixin quantity(data)
  form.quantity(class=addClass('quantity', data.mods, data.addClass))
    label.quantity__wrap
      .quantity__decrement
      input(value='1', type="number", min='1')
      .quantity__increment
    +button({addClass: 'quantity__button', type: 'button', text: data.btn_text})
      if data.icon
        +icon(data.icon)