extends /app/templates/default

block preheader

block main
  main
    .container.container_blog
      .row.row_flex
        include /app/blocks/leftside/leftside
        .rightside
          +breadcrumbs({
            items: [{
              text: 'Главная',
              link: '#'
            },{
              text: 'Блог',
              link: '#'
            },{
              text: 'Особенности форм ковриков: вырез под педалью газа',
              status: 'active'
            }]
          })
          +title({
            tag: 'h1',
            text: 'Особенности форм ковриков: вырез под педалью газа',
            mods: ['h1']
          })
          .content
            .content__info
              +share({})
              .content__rating
                +rating({mods:['static']})
                .rating__value (4.65)
              .content__date 24 Декабря 2015 г.

            .content__wrap
              p Часто клиенты спрашивают, почему у некоторых ковриков есть вырез под педалью газа, а у других такой особенности нет. Ответ кроется в конфигурации педального узла, ведь она отличается в разных моделях авто. Это довольно важный нюанс, но очень мало, кто на него обращает внимание. Пробежимся по основным видам этих конструкций и определим, в каких случаях вырез необходим.

              +title({
                text: 'Педаль не упирается в пол',
                mods: ['h2'],
                tag: 'h2'
              })

              p Самая удобная конструкция с точки зрения практичности эксплуатации авто в грязную погоду – когда педаль газа при полном нажатии не касается пола. В этом случае у нее есть ограничение хода, и если ее выжать до конца (то самое «газ в пол»), то между рычагом и полом останется свободное место.
              p Для таких моделей мы изготавливаем изделия из ЭВА, которые заходят под педальный узел и закрывают все пространство под ним. Он не контактирует с ковриком, а значит, аксессуар никак ему не мешает.
              p Это – самый практичный вариант, потому что вся грязь с педалей сыпется на наше защитное покрытие.

              figure.content__image
                img(src="img/example.png", alt="Foto")
                figcaption Ford Kuga – изделие заходит под педали, так как они при полном нажатии не касаются пола
              
              p Такая удобная конструкция – на многих автомобилях, чаще всего это: Ford, Opel, Mazda, Jeep, Peugeot, Hyundai, Kia, Chevrolet.

              +title({
                text: 'Напольная педаль газа',
                mods: ['h2'],
                tag: 'h2'
              })

              p Другой тоже очень удобный тип – с напольной педалью газа. В этом случае коврик изготавливается плотно в ее обход. Грязь с подошвы не попадает на пол, сыплясь с рычагов прямо на защитное изделие.
              p Такое расположение практически всегда было и есть у BMW. Другие модели раньше реже использовали такую модификацию. Но в настоящее время напольная конструкция все чаще встречается на новых авто различных марок. «Корейцы» массово на нее переходят. Это можно встретить у новых Kia, Hyundai, Mazda, у нескольких поколений Skoda, Volkswagen.

              figure.content__image
                img(src="img/example.png", alt="Foto")
                figcaption BMW X3 – напольный тип педали газа

              +title({
                text: 'Педаль упирается в пол',
                mods: ['h2'],
                tag: 'h2'
              })

              p Третий тип – как раз тот, из-за чего возникает вопрос. У этих моделей ограничением хода педали является сам пол, и она полностью в него упирается при полном нажатии. При этом любое дополнительное покрытие между ними будет мешать работе педального узла. То есть, если между ними окажется изделие из ЭВА, как в первом варианте, то рычаг упрется в него и не нажмется до конца.

              blockquote Если коврик будет мешать работе педалей, это может стать причиной аварий при вождении. Например, рычаг газа способен просто застрять. А на машинах с «автоматом» не сработает кик-даун, что опасно при обгоне.

              p В плане практичности такой конструкции – не нам спорить с автогигантами, но зарубежные автопроизводители явно не представляют наших проблем с грязью на улице. Да, при такой конфигурации место под педалью газа открыто, куда может попадать грязь с подошв.
              p Причем для обеспечения безопасности вырез делается с некоторым запасом, чтобы при случайном смещении автоковрика вверх рычаг газа при полном нажатии не зацепился за его край.
              p Такой тип встречается у разных моделей. Чаще всего мы делаем такие коврики для Honda, Toyota, Audi, Subaru, для многих авто марок Nissan, Mitsubishi, Renault. Так же большинство машин с правым рулем имеет такую особенность. Это связано с выступом колесной арки, которая находится справа от педали.

          +button({
            text: 'Вернуться к списку',
            mods: ['default'],
            link: '#'
          })

          +title({
            tag: 'h2',
            text: 'Похожие статьи',
            mods: ['h2']
          })
          +grid({columns: '3', offset: 'sm'})
            +card({
              image_sourse: 'img/example.png',
              link: '#',
              mods: ['hover'],
              title: 'EVA-DRIVE: делаем онлайн-заказ',
            })
            +card({
              image_sourse: 'img/example.png',
              link: '#',
              mods: ['hover'],
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
            })
            +card({
              image_sourse: 'img/example.png',
              link: '#',
              mods: ['hover'],
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
            })

          include /app/blocks/comment/comment