extends /app/templates/default

block preheader

block main
  main
    .container.container_gutter
      .row.row_flex
        include /app/blocks/leftside/leftside
        .rightside
          +breadcrumbs({
            items: [{
              text: 'Главная',
              link: '#'
            },{
              text: 'Блог',
              status: 'active'
            }]
          })
          +title({
            tag: 'h1',
            text: 'Полезные статьи об автомобильных ковриках и не только',
            mods: ['h1']
          })
          
          .tags
            +button({
              link: '#',
              text: 'Все статьи',
              mods: ['gray'],
              addClass: '_active'
            })
            +button({
              link: '#',
              text: 'Обзор',
              mods: ['white'],
            })
            +button({
              link: '#',
              text: 'Испытание',
              mods: ['white']
            })
            +button({
              link: '#',
              text: 'Оформить заказ',
              mods: ['white']
            })

          +grid({columns: '3', offset: 'sm'})
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: 'EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })
            +card({
              image_sourse: 'img/example.png',
              date: '29 Марта 2016',
              title: '3 шага для получения ковриков EVA-DRIVE: делаем онлайн-заказ',
              desc: 'Заказать коврики EVA-DRIVE онлайн– простой Заказать коврики EVA-DRIVE онлайн– простой... Заказать коврики EVA-DRIVE онлайн– простой...',
              link: '#',
              mods: ['hover']
            })

          include /app/blocks/pagination/pagination
