extends /app/templates/default

block preheader

block main
  main
    .container.post-header
      .row
        +breadcrumbs({
          items: [{
            text: 'Главная',
            link: '#'
          },{
            text: 'Модельный ряд',
            status: 'active'
          }]
        })

        +title({
          tag: 'h1',
          text: 'Коврики в салон автомобилей для audi (ауди)',
          mods: ['h1']
        })
    .container
      .row
        .model
          .model__image
            img(src="img/logo-car.png", alt="")
          .model__tags
            +tag({
            columns: '3',
            offset: 'sm',
            items: [{
              title: 'Audi A4',
              mods: ['big'],
              names: [{
                text: 'I поколение (B5), 1999-2000',
                link: '#',
              },{
                text: 'III поколение (B7), 2004-2008',
                link: '#'
              },{
                text: 'IV поколение (B8), 2008-2015',
                link: '#'
              },{
                text: 'IV поколение (B8), 2008-2015',
                link: '#'
              }]
            }]
          })

    .container.bg_gray
      .row
        p Автомобильные коврики столь же незаменимы в салоне, как эргономичное сиденье или зеркало заднего вида. Они позволяют поддерживать порядок и чистоту в салоне. Цена ковриков в салон автомобиля Audi, изготавливаемых компанией EVA-DRIVE, находится на одном уровне с резиновыми или текстильными изделиями, но их функциональность кардинально различается. Главная особенность конструкции нашей продукции – наличие многочисленных ячеек, эффективно задерживающих воду, песок или грязь. Отличные практические качества дополняются разнообразными цветовыми решениями, включающими 14 основных цветов и около 200 их вариаций.