extends /app/templates/default

block preheader

block main
  main
    .container.container_gutter
      .row.row_flex
        include /app/blocks/leftside/leftside
        .rightside
          +breadcrumbs({
            items: [{
              text: 'Главная',
              link: '#'
            },{
              text: 'Выбрать цвет',
              link: '#'
            },{
              text: 'Бирюзовый коврик',
              status: 'active'
            }]
          })
          +title({
            tag: 'h1',
            text: 'Универсальный набор крепления ковриков',
            mods: ['h1']
          })
          
          .product
            .product__preview
              +slider({
                thumbs: {
                  slides: [{
                    img: 'https://66.media.tumblr.com/baea33b98e5aa66abd0e5da888d06c44/tumblr_pkw4y0EZTh1uk7v3v_540.jpg'
                  },{
                    img: 'https://i.ytimg.com/vi/CQ85sUNBK7w/maxresdefault.jpg'
                  },{
                    img: 'https://boygeniusreport.files.wordpress.com/2015/06/funny-cat.jpg'
                  },{
                    img: 'https://i.pinimg.com/736x/3b/4f/55/3b4f55f606f04ed5300d1bcf589c010e.jpg'
                  }]
                }
              })
            .product__desc
              p Коврики в салон для Acura MDX (с 2008 г.в.) от EVA-DRIVE – это изящная и очень надежная защита салона вашего автомобиля. Автоковрики легки, удобны и практичны в использовании.
              p Коврики в салон для Acura MDX (с 2008 г.в.) от EVA-DRIVE – это изящная и очень надежная защита салона вашего автомобиля. Автоковрики легки, удобны и практичны в использовании.

            .product__order
              p Универсальный набор крепления ковриков: клипса для установки на коврик и вкрутка для установки в пол автомобиля. Подходит для любых типов ковриков.
              .product__price Цена: 
                span 5000 руб.
              +quantity({addClass: 'product__quantity', btn_text: 'Добавить в корзину'})

          +title({
            tag: 'h2',
            mods: ['h2'],
            text: 'Фотогаллерея'
          })

          +slider({
            slides: [{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            },{
              img: 'img/slider-img.png'
            }]
          })

          +title({
            tag: 'h2',
            mods: ['h2'],
            text: 'Вас также могут заинтересовать'
          })

          +slider({
            products: {
              slides: [{
                image_sourse: 'img/slider-img.png',
                title: 'Универсальный набор крепления ковриков'
              },{
                image_sourse: 'img/slider-img.png',
                title: 'Универсальный набор крепления ковриков'
              },{
                image_sourse: 'img/slider-img.png',
                title: 'Универсальный набор крепления ковриков'
              },{
                image_sourse: 'img/slider-img.png',
                title: 'Универсальный набор крепления ковриков'
              }]
            }
          })

          include /app/blocks/comment/comment
          +share({mods: ['right']})
  
              
            




            //- +quantity({btn_text: 'Добавить в корзину'})
            //- +quantity({btn_text: 'Добавить в корзину'})

