extends /app/templates/default

block preheader

block main
  main
    .container.post-header
      .row
        +breadcrumbs({
          items: [{
            text: 'Главная',
            link: '#',
            mods: ['hover']
          },{
            text: 'Модельный ряд',
            status: 'active'
          }]
        })

        +title({
          tag: 'h1',
          text: 'Коврики в салон автомобилей для audi (ауди)',
          mods: ['h1']
        })
    .container
      .row
        .model
          .model__image
            img(src="img/logo-car.png", alt="")
          .model__tags
            +tag({
            columns: '3',
            offset: 'sm',
            items: [{
              title: 'A3',
              names: [{
                text: 'A3, II поколение (8P), 2004-2012, 5-дв. хэтч',
                link: '#',
                mods: ['hover']
              },{
                text: 'III поколение (8V), (с 2012 )',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'A4',
              names: [{
                text: 'I поколение (B5), 1999-2000',
                link: '#',
                mods: ['hover']
              },{
                text: 'III поколение (B7), 2004-2008',
                link: '#',
                mods: ['hover']
              },{
                text: 'IV поколение (B8), 2008-2015',
                link: '#',
                mods: ['hover']
              },{
                text: 'IV поколение (B8), 2008-2015',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'А5',
              names: [{
                text: 'A5, I поколение (8T), 2011-2016, 2-дв. купе',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'A6',
              names: [{
                text: 'I поколение (B5), 1999-2000',
                link: '#',
                mods: ['hover']
              },{
                text: 'III поколение (B7), 2004-2008',
                link: '#',
                mods: ['hover']
              },{
                text: 'IV поколение (B8), 2008-2015',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'A4',
              names: [{
                text: 'I поколение (B5), 1999-2000',
                link: '#',
                mods: ['hover']
              },{
                text: 'III поколение (B7), 2004-2008',
                link: '#',
                mods: ['hover']
              },{
                text: 'IV поколение (B8), 2008-2015',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'Q3',
              names: [{
                text: 'I поколение (8U)',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'Q5',
              names: [{
                text: 'I поколение (8R), 2008-2016',
                link: '#',
                mods: ['hover']
              }]
            },{
              title: 'Q7',
              names: [{
                text: 'Q7, I поколение (4L), 2005-2015, 5-мест',
                link: '#',
                mods: ['hover']
              }]
            }]
          })

    .container.bg_gray
      .row
        p Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом представляет собой интересный эксперимент проверки форм развития.

        p Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание соответствующий условий активизации. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение модели развития.