extends /app/templates/default

block header
  include /app/blocks/header/header

  .container.preheader(style="background-image:url(./img/preheader.png)")
    .row.preheader__wrap
      
      .preheader__list
        +title({
          text: 'Автомобильные коврики EVA для вашей машины',
          tag: 'h1',
          mods: ['h1']
        })
        .preheader__item
          +icon({
            icon: 'wash',
            addClass: 'preheader__icon'
          })
          .preheader__text 
            span Лёгкость в мытье
            | Достаточно просто перевернуть

        .preheader__item
          +icon({
            icon: 'individual',
            addClass: 'preheader__icon'
          })
          .preheader__text 
            span Индивидуальный пошив 
            | Делается индивидуально под ваш автомобиль

        .preheader__item
          +icon({
            icon: 'shoes',
            addClass: 'preheader__icon'
          })
          .preheader__text 
            span Высокая износостойкость 
            | Срок службы n лет 

      .callback
        .callback__title Оставьте заявку
        .callback__text Наш менеджер свяжется с вами в течение 15 минут
        form
          input(type="text", placeholder="Ваше имя")
          input(type="tel", placeholder="Телефон")
          textarea(placeholder="Марка и модель машины")
          +button({type: "submit", text: "Отправить"})
        .callback__policy нажимая на кнопку “Отправить” вы подтверждаете свое согласие на обработку пользовательских данных
  
  main
    .container
      .row
        +title({
          tag: 'h2',
          text: 'Наши коврики станут практичным дополнением к вашему автомобилю',
          mods: ['h2']
        })
        
        .logotype
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car-2.png)")
            a.logotype__link(href="#") Подробнее >>
          .logotype__item(style="background-image: url(./img/logo-car.png)")
            a.logotype__link(href="#") Подробнее >>
        .logotype__button
          +button({text: "Полный каталог", link: "#"})
            
    .container.advantages
      .row
        +title({
          tag: 'h2',
          text: 'Автомобильные коврики EVA для вашей машины',
          mods: ['h2']
        })
        .advantages__box
          .advantages__img(style="background-image:url(./img/advantages.png)")

          .advantages__list
            .advantages__item 
              .advantages__icon
              | Ячейки коврика собирают до литра воды, грязи и пыли (Система сот)
            .advantages__item 
              .advantages__icon
              | Материал экологичен и безвреден. Не имеет запаха, гипоаллергенен.
            .advantages__item 
              .advantages__icon
              | Всесезонное использование. Сохраняют эластичность при температуре -50 / +50
            .advantages__item 
              .advantages__icon
              | Возможность выбора цвета коврика и окантовочной ленты


        .advantages__box.advantages__box_reverse

          .advantages__list.advantages__list
            .advantages__item 
              .advantages__icon
              | Ячейки коврика собирают до литра воды, грязи и пыли (Система сот)
            .advantages__item 
              .advantages__icon
              | Материал экологичен и безвреден. Не имеет запаха, гипоаллергенен.
            .advantages__item 
              .advantages__icon
              | Всесезонное использование. Сохраняют эластичность при температуре -50 / +50
            .advantages__item 
              .advantages__icon
              | Возможность выбора цвета коврика и окантовочной ленты
            
          .advantages__img(style="background-image:url(./img/advantages.png)")

