extends /app/templates/default

block main
  main
    .container
      .row
        +title({
          tag: 'h2',
          text: 'Наши коврики станут практичным дополнением к вашему автомобилю',
          mods: ['h2']
        })
        include /app/blocks/logotype/logotype
        .logotype__button
          +button({text: "Полный каталог", link: "#"})

    include /app/blocks/advantages/advantages
    include /app/blocks/constructor/constructor

    .container
      .row
        +title({
          tag: 'h2',
          text: 'Фотографии наших ковриков',
          mods: ['h2']
        })
        +slider({
          slides: [{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          },{
            img: 'img/slider-img.png'
          }]
        })
        +button({
          text: 'Больше фото',
          link: '#'
        })

    .container.bg_gray
      .row
        p Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом представляет собой интересный эксперимент проверки форм развития.

        p Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание соответствующий условий активизации. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение модели развития.
  