extends /app/templates/default

block preheader

block main
  main
    .container.container_gutter
      .row
        +breadcrumbs({
          items: [{
            text: 'Главная',
            link: '#'
          },{
            text: 'Новый пароль',
            status: 'active'
          }]
        })
        +title({
          tag: 'h1',
          text: 'Новый пароль',
          mods: ['h1']
        })

        

        form.pass
          +input({
            placeholder: 'Новый пароль*',
            type: 'password',
            required: true
          })
          +input({
            placeholder: 'Новый пароль еще раз*',
            type: 'password',
            required: true
          })
          +button({
            type: 'submit',
            text: 'Изменить'
          })
