extends /app/templates/default

block preheader

block main
  main
    .container.container_gutter
      .row
        +breadcrumbs({
          items: [{
            text: 'Главная',
            link: '#'
          },{
            text: 'Восстановление пароля',
            status: 'active'
          }]
        })
        +title({
          tag: 'h1',
          text: 'Восстановление пароля',
          mods: ['h1']
        })

        

        form.pass
          p Мы отправим восстановленный пароль вам на почту
          +input({
            placeholder: 'E-mail*',
            type: 'email',
            required: true
          })
          +button({
            type: 'submit',
            text: 'Отправить'
          })
