html, body {
  font-family: 'HelveticaNeueCyr', serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 18px;
  color: $main;
}

body {
  padding-top: 95px;
  @include breakpoint(lg) {
    padding-top: 0;
  }
}

a {
  color: $red;
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

.container {
  padding-top: 40px;
  padding-bottom: 25px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint(xl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &_blog {
    padding-top: 30px;
    @include breakpoint(xl) {
      padding-top: 40px;
    }
  }
  &_white {
    color: $white;
  }
}

.row {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  &_flex {
    @include breakpoint(md) {
      display: flex;
    }
  }
  @include breakpoint(xl) {
    max-width: 1170px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 0;
  transition: .3s;
  z-index: -1;
  visibility: hidden;
  &.active {
    // display: block;
    visibility: visible;
    opacity: 0.7;
    z-index: 10;
  }
}

input {
  border: 0;
  border-bottom: 2px solid #C4C4C4;
  padding: 10px 10px 7px;
  background: 0 0;
  color: $main;
  box-sizing: border-box;
  &:not(:last-of-type) {
    margin-bottom: 25px;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder { color: inherit; }
  &:-ms-input-placeholder { color: inherit; }
  &::placeholder { color: inherit; }
  &::-ms-clear {  display: none; width : 0; height: 0; }
  &::-ms-reveal {  display: none; width : 0; height: 0; }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration { display: none; }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  border: 1.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  background: 0 0;
  padding: 15px;
}

.leftside {
  margin-bottom: 30px;
  @include breakpoint(md) {
    margin-right: 20px;
    max-width: 270px;
    width: 100%;
  }
  @include breakpoint(lg) {
    margin-right: 40px;
  }
}
.rightside {
  @include breakpoint(md) {
    width: calc(100% - 300px);
  }
}

.content {
  border-top: 1px solid $silver;
  border-bottom: 1px solid $silver;
  padding: 20px 0;
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    @include breakpoint(lg) {
      flex-wrap: nowrap;
      margin-bottom: 30px;
      align-items: center;
    }
  }
  &__rating {
    display: inline-flex;
    align-items: center;
  }
  &__date {
    color: $silver;
    font-size: 14px;
    @include breakpoint(lg) {
      margin-left: 20px;
      font-size: 16px;
    }
  }
  &__image {
    margin: 0 0 20px 0;
    img {
      width: 100%;
      border-radius: 10px;
    }
    figcaption {
      margin-top: 10px;
      font-size: 13px;
      color: #5E5E5E;
      font-style: italic;
      padding-bottom: 20px;
      line-height: 1.6;
      border-bottom: 1px solid #E0E0E0;
      @include breakpoint(lg) {
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
      }
    }
  }
  blockquote {
    padding: 10px 20px 10px 15px;
    border-left: 9px solid $green;
    background-color: $gray;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0 10px 10px 0;
    font-style: italic;
    margin: 20px 0;
    @include breakpoint(lg) {
      padding: 40px 30px 35px 30px;
      margin: 40px 0;
    }
  }
  .rating__value {
    margin-left: 7px;
    font-size: 14px;
    @include breakpoint(lg) {
      margin-left: 15px;
    }
  }
  .title {
    font-size: 16px;
    margin-bottom: 15px;
    @include breakpoint(lg) {
      font-size: 24px;
      margin-top: 40px;
    }
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  > * {
    margin: 5px;
    flex: 0 1 calc(50% - 10px);
    @include breakpoint(lg) {
      flex: 0 1 calc(25% - 10px);
    }
  }
}

.bg {
  &_black {
    background-color: $black;
  }
  &_footer {
    background-image: url(../img/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &_gray {
    background-color: $gray;
  }
}