$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1080px,
  xl: 1200px,
  xxl: 1366px,
);

$white: #ffffff;
$black: #000000;
$main: #333333;
$red: #DB2E0E;
$lightgrey: #E5E5E5;
$alto: #DADADA;
$gray: #F3F3F3;
$green: #26BE26;
$silver: #C4C4C4;