.share {
  width: 100%;
  margin-bottom: 25px;
  @include breakpoint(md) {
    order: 1;
    display: flex;
    margin-bottom: 0;
    margin-top: 20px;
  }
  @include breakpoint(lg) {
    margin-left: auto;
    margin-top: 0;
    width: auto;
  }
  &__title {
    margin-bottom: 20px;
    @include breakpoint(md) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  &_right {
    justify-content: flex-end;
  }
}