mixin share(data)
  .share(class=addClass('share', data.mods, data.addClass))
    .share__title Поделиться:
    script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    script(src="//yastatic.net/share2/share.js")
    div.ya-share2.yashare-auto-init.shares(data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp,skype,telegram")