.header {
  position: relative;
  padding: 0;
  font-size: 16px;
  &_top {
    background-color: $main;
    color: $white;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include breakpoint(lg) {
      position: relative;
    }
    .header {
      &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 28px;
        padding-bottom: 21px;
        @include breakpoint(lg) {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .choise-city {
          display: none;
          @include breakpoint(lg) {
            display: inline-block;
          }
        }
      }
      &__cart {
        margin-left: auto;
        margin-right: 10px;
        @include breakpoint(lg) {
          display: none;
        }
      }
      &__lk {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        
        .icon {
          margin-right: 15px;
        }
      }
      &__burger {
        width: 46px;
        height: 46px;
        background-color: $red;
        border-radius: 60px;
        @include breakpoint(lg) {
          display: none;
        }
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: relative;
          &:before,
          &:after,
          i {
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: $white;
            transition: .3s;
            will-change: transform;
            border-radius: 10px;
          }
          &:before {
            top: 14px;
          }
          &:after {
            bottom: 14px;
          }
          i {
            top: 22px;
          }
        }
        #burger {
          display: none;
          &:checked {
            + label {
              &:before {
                transform: translateY(8px) rotate(-225deg);
              }
              &:after {
                transform: translateY(-8px) rotate(225deg);
              }
              i {
                transform: scale(0, 1);
              }
            }
          }
        }
      }
    }
  }
  &_middle {
    .header {
      &__wrap {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        @include breakpoint(lg) {
          justify-content: space-between;
        }
      }
      &__cart {
        display: none;
        background-color: #F0F0F0;
        @include breakpoint(lg) {
          display: flex;
        }
      }
      &__button {
        display: none;
        max-width: 220px;
        @include breakpoint(lg) {
          display: inline-block;
          margin: 0;
        }
      }
      &__phone {
        display: none;
        @include breakpoint(lg) {
          display: inline-block;
        }
      }
    }
  }
  &_nav {
    background-color: $lightgrey;
  }
}

.menu {
  display: none;
  font-size: 16px;
  @include breakpoint(lg) {
    display: block;
  }
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  &__item {
    a {
      padding: 13px 0px 10px;
      display: inline-block;
      text-decoration: none;
      color: $main;
      font-weight: 500;
    }
    &_red {
      background-color: $red;
      border-radius: 30px;
      max-width: 320px;
      width: 100%;
      display: flex;
      padding: 0;
      a {
        color: $white;
        text-decoration: none;
        padding: 13px 30px 10px;
        position: relative;
        width: 100%;
        text-align: center;
        &:last-child:before {
          position: absolute;
          content: '';
          height: 100%;
          width: 1px;
          background-color: $white;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.menu-mobile {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $white;
  top: 95px;
  transform: translateX(100%);
  transition: transform .3s;
  height: calc(100vh - 95px);
  overflow: auto;
  z-index: 20;
  @include breakpoint(lg) {
    display: none;
  }
  &.active {
    transform: translateX(0%);
  }
  &__list {
    list-style-type: none;
    padding: 18px 0;
    margin: 0;
    &_more {
      background-color: $lightgrey;
    }
    &_footer {
      text-align: center;
      .menu-mobile {
        &__item a {
          padding: 12px 30px 12px 30px;
          text-decoration: underline;
        }
      }
    }
  }
  &__item a {
    display: block;
    padding: 12px 50px 12px 40px;
    font-size: 16px;
    text-decoration: none;
    color: $main;
  }
  &__button {
    margin: 12px 0;
    max-width: 85%;
  }
}

.menu-more {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  // align-items: center;
  @include breakpoint(lg) {
    display: flex;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 30px;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.choise-city {
  @include breakpoint(lg) {
    color: $white
  }
}

.cart {
  background-color: $white;
  border-radius: 60px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  @include breakpoint(lg) {
    margin-left: 5px;
  }
}

.search {
  position: relative;
  max-width: 290px;
  width: 100%;
  overflow: hidden;
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
  button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  input {
    width: 100%;
    padding-right: 30px;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}

.preheader {
  color: $white;
  padding-top: 40px;
  padding-bottom: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &__list {
    flex: 1 1 30%;
    width: 100%;
    @include breakpoint(md) {
      padding-right: 30px;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
    span {
      display: block;
      font-weight: 700;
    }
  }
  &__icon {
    flex: 0 0 52px;
    height: 50px;
    margin-right: 25px;
  }
}

.callback {
  background-color: $white;
  color: $main;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 25px;
  border-radius: 8px;
  flex: 0 1 390px;
  box-sizing: border-box;
  margin: 0 auto;
  &__title {
    font-family: 'HeliosCond', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  form {
    margin-top: 20px;
    margin-bottom: 20px;
    > * {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &__policy {
    font-size: 11px;
  }
}