.input {
  margin: 0 3px;
  width: 100%;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  @include breakpoint(lg) {
    font-size: 18px;
  }
  input {
    display: none;
    &:checked {
      + .input__visual {
        box-shadow: 0 0 0 2px $red;
      }
    }
  }
  &__visual {
    height: 47px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid $white;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }
  &__more {
    font-size: 16px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__price {
    span {
      font-weight: 700;
      margin-left: 13px;
      @include breakpoint(lg) {
        font-size: 20px;
      }
    }
  }
  &__list {
    margin-top: 20px;
    color: #9A9A9A;
    font-size: 13px;
    padding-left: 15px;
  }
  &_circle {
    display: inline-block;
    width: 47px;
    text-align: center; 
    margin-bottom: 15px;
    .input {  
      &__visual {
        border-radius: 30px;
      }
    }
    &_mini {
      max-width: 31px;
      height: 31px;
      @include breakpoint(lg) {
        max-width: 45px;
        height: 45px;
      }
      .input {  
        &__visual {
          height: 31px;
          @include breakpoint(lg) {
            height: 45px;
          }
        }
      }
    }
  }
  &_rectangle {
    display: inline-block;
    max-width: 36px;
    height: 48px;
    margin: 0 3px 15px;
    @include breakpoint(lg) {
      max-width: 52px;
      height: 68px;
      margin: 0 7px 20px;
    }
    .input {  
      
      &__visual {
        border-radius: 7px;
        @include breakpoint(lg) {
          height: 68px;
        }
      }
    }
  }
  &_red {
    display: inline-block;
    .input {
      &__visual {
        background: red;
      }
    }
  }
  &_text {
    display: block;
    .input {
      &__visual {
        display: inline-block;
        min-width: 25px;
        height: 25px;
        background: $white;
        box-shadow: 0 0 0 2px $silver;
        margin-bottom: 0;
        border-radius: 30px;
        margin-right: 10px;
      }
      &__text {
        display: inline-block;
        padding-left: 5px;
        width: 90%;
        align-self: center;
      }
    }
    input {
      &:checked {
        + .input__visual {
          box-shadow: 0 0 0 2px $silver;
          background: $green;
        }
      }
    }
  }
  &_full {
    width: 100%;
    display: flex;
    .input {
      &__visual {
        // margin-top: 3px;
        margin-left: 5px;
      }
    }
  }
  &_check {
    .input {
      &__visual {
        display: inline-block;
        min-width: 25px;
        height: 25px;
        background: $white;
        box-shadow: 0 0 0 2px $silver;
        margin-bottom: 0;
        border-radius: 10px;
        margin-right: 15px;
      }
      &__text {
        align-self: center;
      }
    }
    input {
      &:checked {
        + .input__visual {
          box-shadow: 0 0 0 2px $green;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 19px;
            top: -8px;
            left: 8px;
            transform: rotate(40deg);
            border-bottom: 3px solid #26be26;
            border-right: 3px solid #26be26;
          }
        }
      }
    }
  }
}