.slider-image {
  margin-bottom: 30px;
  .slick-list {
    margin: 0 -15px;
    @include breakpoint(md) {
      width: 85%;
      margin: 0 auto;
    }
  }
  .swiper-slide {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  .swiper-scrollbar {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-thumbs {
  width: 100%;
  position: relative;
  .swiper-slide {
    background-position: center;
    background-size: cover;  

  }
  &__top {
    .swiper-slide {
      height: 290px;
      border-radius: 10px;
      width: 100%;
    }
  }
  &__bottom {
    .swiper-slide {
      height: 80px;
      border-radius: 10px;
    }
  }
}

.slider-products {
  .swiper-scrollbar {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.swiper-container {
  .swiper-scrollbar {
    background-color: #F0F0F0;
  }
  .swiper-scrollbar-drag {
    background-color: $silver;
  }
  .swiper-wrapper {
    margin-bottom: 25px;
  }
}
