mixin slider(data)
  if data.thumbs
    .slider-thumbs.slider-slider(data-js='swiperThumbs')
      .swiper-container.slider-thumbs__top.slider-slider
        .swiper-wrapper
          each slide in data.thumbs.slides
            .swiper-slide(style="background-image: url("+ slide.img + ");")
      
      .swiper-container.slider-thumbs__bottom
        .swiper-wrapper
          each slide in data.thumbs.slides
            .swiper-slide(style="background-image: url("+ slide.img + ");")
        .swiper-scrollbar

  else if data.products
    .slider-products
      .swiper-container.slider-products.slider-slider(data-js='swiperProducts')
        .swiper-wrapper
          each slide in data.products.slides
            .swiper-slide
              +card({
                image_sourse: slide.image_sourse,
                title: slide.title,
                quantity: true
              })
        .swiper-scrollbar

  else
    .slider-image
      .swiper-container.slider-image.slider-slider(data-js='swiperImage')
        .swiper-wrapper
          each slide in data.slides
            if slide.img
              .swiper-slide(style="background-image: url("+ slide.img + ");")
        .swiper-scrollbar
          

  

