mixin slider(data)
  .slider(class=addClass('slider', data.mods, data.addClass))
    each slide in data.slides
      if slide.img
        .slider__item(style="background-image: url("+ slide.img + ");")
