<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/libs.css")
    link(rel="stylesheet", href="/css/style.css")
    title NEW PROJECT
  body
    block includes
      include /app/blocks/icon/icon
      include /app/blocks/logo/logo
      include /app/blocks/button/button
      include /app/blocks/title/title

    block header

    block main
    
    block footer 
      #overlay.overlay
      div(style='display: none;')
        include ../../dist/img/icons/icons.svg
      script(src="/js/libs.js")
      script(src="/js/scripts.js")