.container
  .row
    +title({
      tag: 'h2',
      text: 'Наши коврики станут практичным дополнением к вашему автомобилю',
      mods: ['h2']
    })
    
    .logotype
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car-2.png)")
        a.logotype__link(href="#") Подробнее >>
      .logotype__item(style="background-image: url(./img/logo-car.png)")
        a.logotype__link(href="#") Подробнее >>
    .logotype__button
      +button({text: "Полный каталог", link: "#"})
    