.logotype
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car-2.png)")
    a.logotype__link(href="#") Подробнее >>
  .logotype__item(style="background-image: url(./img/logo-car.png)")
    a.logotype__link(href="#") Подробнее >>
    